---
services:
  db:
    image: postgres:16
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - ./app-db-data:/var/lib/postgresql/data/pgdata
    command: >
      postgres -c shared_preload_libraries=pg_stat_statements 
      -c pg_stat_statements.track=all 
      -c max_connections=200

    # CREATE EXTENSION IF NOT EXISTS pg_stat_statements;

  pgadmin:
    image: dpage/pgadmin4
    restart: unless-stopped
    ports:
      - 5040:5050
    env_file:
      - .env
    # volumes:
    #   - /var/lib/pgadmin/ants:/var/lib/pgadmin
    depends_on:
      - db


  redis:
    image: "redis:alpine"
    restart: unless-stopped
    command: "redis-server --appendonly yes --port 6480 --timeout 300 --tcp-keepalive 60"
    volumes:
      - ./redis:/data


  redis-commander:
    image: "rediscommander/redis-commander:latest"
    restart: unless-stopped
    ports:
      - 8020:8081
    environment:
      - "REDIS_HOSTS=local:redis:6480"
    depends_on:
      - "redis"

  backend:
    image: backend:latest
    container_name: back-psihosom
    restart: unless-stopped
    ports:
      - 60:80
    env_file:
      - .env
    build:
      context: .
    #command: bash -c "while true; do sleep 1; done"  # Infinite loop to keep container live doing nothing
    command: /start-reload.sh
    #command: uvicorn --reload --host 0.0.0.0 --port 80 --log-level info "app.main:app"

    volumes:
      - ./src:/app
    depends_on:
      - db
      - redis
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"

#  nginx:
#    image: nginx
#    restart: unless-stopped
#    # profiles: ["nginx"]  # docker compose --profile nginx up
#    ports:
#      - 80:80
#      - 443:443
##    env_file:
##      - .env
#    volumes:
#      # - ./nginx.conf:/etc/nginx/conf.d/default.conf
#      - ./nginx.conf:/etc/nginx/nginx.conf
#      - /etc/letsencrypt:/etc/letsencrypt
#    depends_on:
#      - backend
